.main-nav {
  min-height: 70px;
  padding: 0px;
}

.nav-logo-text {
  color: #00285f;
  font-size: 40px;
}
.nav-logo-text:hover {
  color: #00285f;
}

.main-menu {
  display: flex;
  justify-content: end;
  font-size: 18px;
  width: 100%;
}

.main-menu a {
  color: rgba(0, 40, 95, 1);
}
.main-menu a.active {
  font-weight: 700;
}

.main-menu li {
  padding: 0px 24px 0px 24px;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27><path stroke=%27rgba%280, 40, 95, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/></svg>);
}
